<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/articleLayout.html}">

<div id="sub" layout:fragment="content">
    <script>
        window.onload = function (){
            //cateName이 일치하면 li ~~ 이쪽에 class = "on"을 주고싶다.
            const classOnTarget =  document.getElementById('[[${cateName.cate}]]');
            classOnTarget.classList.add("on");
        }
    </script>
    <div><img  th:src="@{/assets/img/sub_top_tit4.png}" alt="EVENT"></div>
    <section class="event">
        <aside>
            <img th:src="@{/assets/img/sub_aside_cate4_tit.png}" alt="이벤트"/>

            <ul class="lnb">
                <li class="" id="event"><a th:href="@{/event/list(cate='event')}">농작물이야기</a></li>
            </ul>

        </aside>
        <article>
            <nav>
                <img th:src="@{/assets/img/__${cateName.cate}__.png}" alt="이벤트"/> <!-- ??-->
                <p>
                    HOME > 이벤트 > <em>[[${cateName.boardName}]]</em> <!-- 완료 -->
                </p>
            </nav>

            <!-- 내용 시작 -->
            <div id="board">
                <section class="list" >
                    <form action="#" class="search">
                        <select name="searchType">
                            <option value="title">제목</option>
                            <option value="content">내용</option>
                            <option value="title_content">제목+내용</option>
                            <option value="nick">작성자</option>
                        </select>
                        <input type="text" name="keyword" placeholder="검색 키워드 입력">
                        <input type="submit" value="검색">
                    </form>

                    <table border="0">
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>날짜</th>
                            <th>조회</th>
                        </tr>
                        <tr th:each="article : ${articles}">
                            <td th:text="${article.no}"> </td>
                            <td><a th:href="@{/event/view(cate=${cateName.cate}, no=${article.no})}" th:text="${article.title}"> </a></td>
                            <td th:text="${article.nick}"> </td>
                            <td th:text="${article.rdate}"> </td>
                            <td th:text="${article.hit}"> </td>
                        </tr>
                    </table>

                    <div class="page">
                        <a href="./list.do?pg=${pageGroupStart - 1}" class="prev">이전</a>
                        <a href="./list.do?pg=${i}" class="num ${currentPage == i?'current':'off'}">${i}</a>
                        <a href="./list.do?pg=${pageGroupEnd + 1}" class="next">다음</a>
                    </div>
                    <a th:href="@{/event/write(cate=${cateName.cate})}" class="btn btnWrite">글쓰기</a>


                </section>
            </div>
            <!-- 내용 끝 -->

        </article>
    </section>

</div>

</html>