<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/userLayout.html}">

    <script>
        window.onload = function(){

            const form = document.querySelector('.terms > form');
            const agree1 = document.getElementsByName('agree1')[0];
            const agree2 = document.getElementsByName('agree2')[0];
            const agree3 = document.getElementsByName('agree3')[0];

            const btnNext = document.getElementsByClassName('btnNext')[0];

            btnNext.onclick = function(e){
                e.preventDefault();

                if(agree1.checked && agree2.checked){
                    // 폼 전송
                    form.submit();
                }else{
                    alert('필수 동의 체크 하셔야 합니다.');
                }
            }
        }
    </script>
    <main id="user" layout:fragment="content">
        <section class="terms">
            <form th:action="@{/user/terms}" method="post">
                <table border="1">
                    <caption>사이트 이용약관</caption>
                    <tr>
                        <td>
                            <textarea name="terms" readonly>${termsDTO.terms}</textarea>
                            <label><input type="checkbox" name="agree1">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>

                <table border="1">
                    <caption>개인정보 취급방침</caption>
                    <tr>
                        <td>
                            <textarea name="privacy" readonly>${termsDTO.privacy}</textarea>
                            <label><input type="checkbox" name="agree2">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>

                <table border="1">
                    <caption>마케팅 수신동의</caption>
                    <tr>
                        <td>
                            <textarea name="sms" readonly>${termsDTO.sms}</textarea>
                            <label><input type="checkbox" name="agree3">&nbsp;동의합니다.</label>
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <a th:href="@{/user/login}" class="btn btnCancel">취소</a>
                <a th:href="@{/user/register}" class="btn btnNext">다음</a>
            </div>

        </section>
    </main>
</html>