<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/admin/layout/adminLayout.html}">
<main layout:fragment="content">
    <script>

    </script>
    <aside>
        <h3>주요기능</h3>
        <ul>
            <li>
                <span>상품관리</span>
                <ol>
                    <li><a th:href="@{/admin/product/list}">상품목록</a></li>
                    <li><a th:href="@{/admin/product/register}">상품등록</a></li>
                </ol>
            </li>
            <li>
                <span>주문관리</span>
                <ol>
                    <li><a th:href="@{/admin/order/list}">주문목록</a></li>
                    <li><a th:href="@{/admin/order/delivery}">배송관리</a></li>
                </ol>
            </li>
            <li>
                <span>회원관리</span>
                <ol>
                    <li><a th:href="@{/admin/user/list}">회원목록</a></li>
                    <li><a th:href="@{/admin/user/register}">회원등록</a></li>
                </ol>
            </li>
        </ul>
    </aside>
    <section id="orderDetail">
        <nav>
            <h3>주문상세(orderNo)</h3>
        </nav>

        <article>
            <table border="0">
                <tr>
                    <th>이미지</th>
                    <td>종류</td>
                    <td>상품명</td>
                    <td>수량</td>
                    <td>상품금액</td>
                    <td>할인금액</td>
                    <td>적립포인트</td>
                    <td>재고</td>
                    <td>소계</td>
                </tr>
                <tr>
                    <td><img src="#" class="thumb" alt="샘플1"></td>
                    <td>곡류</td>
                    <td>검은콩어쩌구</td>
                    <td>1</td>
                    <td>43,400</td>
                    <td>42,000</td>
                    <td>40p</td>
                    <td>55</td>
                    <td>3,600원</td>
                </tr>
                <tr>
                    <td><img src="#" class="thumb" alt="샘플1"></td>
                    <td>과일</td>
                    <td>필리핀 바나나 1kg</td>
                    <td>1</td>
                    <td>22,000</td>
                    <td>21,000</td>
                    <td>20p</td>
                    <td>56</td>
                    <td>55,000원</td>
                </tr>
            </table>
            <nav>
                <h3>주문자 결재내역</h3>
            </nav>
            <table border="0">
                <tr>
                    <th>총 상품금액</th>
                    <th> + </th>
                    <th>배송비</th>
                    <th> - </th>
                    <th>포인트 사용</th>
                    <th> - </th>
                    <th>할인금액</th>
                    <th> = </th>
                    <th>총 결재금액</th>
                </tr>
                <tr>
                    <td>64,000 KRW</td>
                    <td> + </td>
                    <td>0 KRW</td>
                    <td> - </td>
                    <td>0 KRW</td>
                    <td> - </td>
                    <td>2,000 KRW</td>
                    <td> = </td>
                    <td>62,000 KRW</td>
                </tr>
            </table>

            <nav>
                <h3>주문자 정보</h3>
            </nav>
            <table border="0">
                <tr>
                    <th>이름</th>
                    <td>핸드폰</td>
                    <td>주소</td>
                    <td>이메일</td>
                    <td>기타</td>
                </tr>
                <tr>
                    <td>김철수</td>
                    <td>010-1234-1234</td>
                    <td>53424 서울특별시 사상구 서면 새싹로42번길 15</td>
                    <td>ch134@naver.com</td>
                    <td>빠른배송 부탁합니다</td>
                </tr>
            </table>

            <nav>
                <h3>받으시는 분</h3>
            </nav>
            <table border="0">
                <tr>
                    <th>이름</th>
                    <td>핸드폰</td>
                    <td>배송주소</td>
                    <td>기타</td>
                </tr>
                <tr>
                    <td>김미애</td>
                    <td>010-1234-4444</td>
                    <td>53424 부산광역시 사상구 서면 새싹로42번길 15</td>
                    <td>빠른배송 부탁합니다</td>
                </tr>
            </table>

            <p>
                <a th:href="@{/admin/order/list}" class="productRegister">뒤로가기</a>
            </p>


        </article>

    </section>
</main>

</html>