<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/marketLayout.html}">

            <article class="list" layout:fragment="content">
                <nav>
                    <img th:src="@{/assets/img/sub_nav_tit_cate2_tit1.png}" alt="장보기"/>
                    <p>
                        HOME > 장보기 > <em>장보기</em>
                    </p>
                </nav>

                <!-- 내용 시작 -->
                <script>
                    window.onload=function (e){
                        const cate = [[${cate}]];
                        console.log(cate);
                        if(cate != null){
                            if(cate == '1'){
                                document.getElementById('cate1').style.color='black';
                            }else if(cate == '2'){
                                document.getElementById('cate2').style.color='black';
                            }else{
                                document.getElementById('cate3').style.color='black';
                            }
                        }
                    }
                </script>
                <p class="sort">
                    <a  th:href="@{/market/list}" class="on">전체([[${products.total}]]) |</a>
                    <a th:href="@{/market/list(cate = 1)}" id="cate1">과일 |</a>
                    <a th:href="@{/market/list(cate = 2)}" id="cate2">야채 |</a>
                    <a th:href="@{/market/list(cate = 3)}" id="cate3">곡류</a>
                </p>
                <table border="0">
                    <thead>
                    <tr>
                        <th>이미지</th>
                        <th>종류</th>
                        <th>상품명</th>
                        <th>할인</th>
                        <th>포인트</th>
                        <th>판매가격</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:if="${products.dtoList.size()<1}">
                        <td colspan="6">등록된 상품이 없습니다</td>
                    </tr>
                    <tr th:each="product, index:${products.dtoList}" >
                        <td>
                            <a th:href="@{/market/view(prodNum=${product.prodNo})}" ><img th:src="@{/uploads/__${product.image1}__}" class="thumb" alt="샘플1" style="width: 100px"></a>
                        </td>
                        <td class="type">[[${product.cateName}]]</td>
                        <td class="title"><a th:href="@{/market/view(prodNum=${product.prodNo})}">[[${product.prodName}]]</a></td>
                        <td class="discount">[[${product.prodDiscount}]] %</td>
                        <td class="point">[[${product.point}]]</td>
                        <td class="price">
                            <strong  th:text="${#numbers.formatDecimal(product.prodPrice * (100 - product.prodDiscount)*0.01 , 1, 0)}">

                            </strong>
                            <del>[[${product.prodPrice}]]</del> <!--할인전가격 표시 -->
                        </td>
                    </tr>
                    <tr>

                    </tbody>
                </table>

                <p class="paging"  style="text-align: center">
                        <th:block th:if="${products.prev}" class="page-item ">
                            <a  class="page-link" style="color: black" th:href="@{/market/list(pg=${products.start -1})}">&#60;</a>
                        </th:block>
                        <th:block th:each="num:${#numbers.sequence(products.start, products.end)}" class="page-item ">
                            <th:block th:if="${num == products.getPg()}">
                                <a class="page-link" style="color: black; background: #b9b9b9" th:href="@{/market/list(pg=${num})}">[ [[${num}]] ]</a>
                            </th:block>
                            <th:block th:if="${num != products.getPg()}">
                                <a class="page-link " style="color: black"  th:href="@{/market/list( pg=${num})}">[ [[${num}]] ]</a>
                            </th:block>
                        </th:block>
                        <th:block th:if="${products.next}" class="page-item">
                            <a class="page-link"   style="color: black" th:href="@{/market/list(pg=${products.end+1})}">&#62;</a>
                        </th:block>
                </p>

                <!-- 내용 끝 -->

            </article>

</html>