<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/layout/marketLayout.html}">

<article class="order" layout:fragment="content">
    <script>
        window.onload = function () {


            //주문하기 버튼 클릭


            calculateTotal();

        };
        function calculateTotal() {
            var totalPrice = 0;
            var productPrice =0;
            var totalPoint =0;
            var cateSize =0;

            // 각 상품의 가격 합산
            //할인된 가격
            var productsPrice = document.querySelectorAll('.price');
            productsPrice.forEach(function(product) {
                cateSize++;
                totalPrice += parseFloat(product.innerText.replace(',', ''));
            });
            //할인전 가격
            var prices = document.querySelectorAll('.prodcutPrice');
            prices.forEach(function(product) {
                productPrice += parseFloat(product.innerText.replace(',', ''));
            });
            document.getElementById('totalProductPrice').innerText = numberWithCommas(productPrice)+'원';

            //할인된 금액
            document.getElementById('discountTotal').innerText = numberWithCommas(productPrice - totalPrice )+'원';

            //전체 토탈 금액 (배송비까지 계산)
            var deliveryFee = 0;
            if(totalPrice<30000 && totalPrice>1){
                deliveryFee=5000;
                totalPrice+=5000;
            }
            document.getElementById('totalPrice').innerText = numberWithCommas(totalPrice)+'원';
            document.getElementById('delivery').innerText = numberWithCommas(deliveryFee)+'원';
            document.getElementById('cateSize').innerText = numberWithCommas(cateSize);
            document.getElementById('counts').innerText = numberWithCommas(cateSize);


            //포인트 계산
            const points = document.querySelectorAll('.point');
            points.forEach(function(point) {
                totalPoint += parseFloat(point.innerText.replace(',', ''));
            });
            document.getElementById('totalPoints').innerText = numberWithCommas(totalPoint)+'원';

        }

        // 숫자를 천 단위로 콤마를 찍는 함수
        function numberWithCommas(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }
    </script>
    <nav>
        <img th:src="@{/assets/img/sub_nav_tit_cate2_tit1.png}" alt="장보기"/>
        <p>
            HOME > 장보기 > <em>장보기</em>
        </p>
    </nav>
                    <!-- 내용 시작 -->
                    <p class="sort" >
                        <a href="#" class="on">주문상춤 전체(10)</a>
                    </p>
                    <table border="0">
                        <thead>
                            <tr>                                
                                <th>이미지</th>
                                <th>종류</th>
                                <th>상품명</th>
                                <th>수량</th>
                                <th>할인</th>
                                <th>포인트</th>
                                <th>가격</th>
                                <th>소계</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr class="empty" th:if="${carts.size()<1}">
                            <td colspan="9">장바구니에 상품이 없습니다.</td>
                        </tr>

                        <tr th:each="cart, index:${carts}">
                                <td>
                                    <a href="./productDetail.html"><img src="../images/market_item1.jpg" class="thumb" alt="사과 500g"></a>
                                </td>
                            <td>[[${cates[index.index].cateName}]]</td>
                            <td><a href="#">[[${products[index.index].prodName}]]</a></td>
                            <td class="cartCount">[[${cart}]]</td>
                            <td>[[${products[index.index].prodDiscount}]] %</td>
                            <td class="point" >[[${products[index.index].prodPrice *0.01 * cart}]]</td>
                            <td class="prodcutPrice" >[[${products[index.index].prodPrice *  cart}]]</td>
                            <td >
                                <strong class="price"
                                         th:text="${#numbers.formatDecimal(products[index.index].prodPrice* (100 - products[index.index].prodDiscount)*0.01 * cart.cartProdCount, 1, 0)}">
                            </strong>원</td>
                            </tr>
                            
                        </tbody>                        
                    </table>
                    <div class="final">                        
                        <table border="0">
                            <caption>최종결제정보</caption>                            
                            <tr>
                                <th>상품수</th>
                                <td id="cateSize"></td>
                            </tr>
                            <tr>
                                <th>상품금액</th>
                                <td id="totalProductPrice"></td>
                            </tr>
                            <tr>
                                <th>할인금액</th>
                                <td id="discountTotal"></td>
                            </tr>
                            <tr>
                                <th>포인트사용</th>
                                <td></td>
                            </tr>
                            <tr>
                                <th>배송비</th>
                                <td id="delivery"></td>
                            </tr>
                            <tr>
                                <th>포인트적립</th>
                                <td id="totalPoints"></td>
                            </tr>
                            <tr>
                                <th>전체주문금액</th>
                                <td class="total"  id="totalPrice"></td>
                            </tr>
                        </table>                        
                        <input type="submit" class="btnOrder" value="결제하기">
                    </div>


                    <h3>주문정보 입력</h3>
                    <div class="shipping">
                        <table>
                            <tr>
                                <td>주문자</td>
                                <td><input type="text" name="orderer" value="홍길동" readonly></td>
                            </tr>
                            <tr>
                                <td>휴대폰</td>
                                <td><input type="text" name="orderer" value="010-1234-1001" readonly></td>
                            </tr>
                            <tr>
                                <td>포인트사용</td>
                                <td>
                                    <input type="text" name="pointUse" value="">
                                    <button>사용하기</button>
                                    <p class="point">
                                        사용가능 <span>2,000</span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>받는분</td>
                                <td><input type="text" name="receiver"></td>
                            </tr>
                            <tr>
                                <td>연락처</td>
                                <td><input type="text" name="hp"></td>
                            </tr>
                            <tr>
                                <td>배송주소</td>
                                <td>
                                    <input type="text" name="zip" readonly><button id="btnZip">우편번호 검색</button>
                                    <input type="text" name="addr1" placeholder="기본주소 검색">
                                    <input type="text" name="addr2" placeholder="상세주소 입력">
                                </td>
                            </tr>
                            <tr>
                                <td>결제방법</td>
                                <td>
                                    <label><input type="radio" name="payment">계좌이체</label>
                                    <label><input type="radio" name="payment">신용카드</label>
                                    <label><input type="radio" name="payment">체크카드</label>
                                    <label><input type="radio" name="payment">휴대폰</label>
                                </td>
                            </tr>
                            <tr>
                                <td>기타</td>
                                <td>
                                    <textarea name="etc"></textarea>
                                </td>
                            </tr>
                        </table>
                    </div>
                    
                    <!-- 내용 끝 -->
</article>
</html>